@import "../../styles/breakpoints.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column-reverse;

  @include display(desktop) {
    flex-direction: row;
    margin-top: 60px;
    height: 800px;
  }
}

.textSection {
  margin: 0 15px;
  padding-bottom: 40px;

  @include display(desktop) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
    padding-left: 20px;
  }
}

.heading {
  font-size: 24px;
  font-family: var(--font-primary);
  letter-spacing: -2px;
  margin-bottom: 16px;
  text-align: center;

  @include display(desktop) {
    font-size: 30px;
    margin-bottom: 24px;
  }
}

.articleSection {
  font-family: var(--font-montserrat);
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 22px;
}

.doctorName {
  font-family: var(--font-secondary);
  font-size: 16px;
  text-align: end;
  padding-top: 16px;

  @include display(desktop) {
    font-size: 20px;
  }
}

.photoSection {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;

  @include display(desktop) {
    height: 100%;
    width: 50%;
    padding: 0 50px;
  }
}

.image {
  object-fit: cover;
}

.main {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 195px;
  height: 254px;
  z-index: 2;

  @include display(desktop) {
    top: 50px;
    left: 120px;
    width: 300px;
    height: 390px;
  }
}

.secondary {
  position: absolute;
  top: 110px;
  left: 180px;
  width: 195px;
  height: 254px;
  z-index: 3;

  @include display(desktop) {
    width: 300px;
    height: 390px;
    top: 220px;
    left: 290px;
  }
}

.tertiary {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 195px;
  height: 254px;
  z-index: 1;

  @include display(desktop) {
    width: 300px;
    height: 390px;
    top: 350px;
    left: 60px;
  }
}
