@import "../../styles/breakpoints.scss";

.wrapper {
  display: flex;
  margin-top: calc(80px + env(safe-area-inset-top, 0px));
  flex-direction: column;

  @include display(tablet) {
    height: 100vh;
  }

  @include display(desktop) {
    height: 92vh;
    flex-direction: row;
    margin-top: 80px;
  }
}

.titleSection {
  font-family: var(--font-primary);
  font-size: 18px;
  letter-spacing: -2px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  line-height: 32px;
  margin: 60px auto;
  width: 100%;
  padding: 0 16px;

  @include display(desktop) {
    width: 50%;
    font-size: 32px;
    letter-spacing: -4px;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }
}

.title {
  font-weight: 300;
}

.titleGray {
  color: var(--color-text-secondary);
  display: block;
  margin-top: 8px;

  @include display(desktop) {
    margin-top: 14px;
  }
}

.lineGray {
  border: 1px solid var(--color-element-primary);
  width: 140px;
  margin: 40px auto;

  @include display(desktop) {
    margin: 70px auto;
    width: 280px;
  }
}

.doctorName {
  font-family: var(--font-secondary);
  font-size: 24px;
  letter-spacing: 1px;
  white-space: pre-line;
  text-align: center;
  line-height: 26px;
  font-weight: 400 !important;

  @include display(desktop) {
    font-size: 30px;
    line-height: 32px;
  }
}

.photoSection {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 5px solid orange;
  margin: 30px auto;

  @include display(desktop) {
    width: 50%;
    margin: 0 auto;
  }
}

.image {
  object-fit: cover;
  max-width: 340px;
  max-height: 510px;

  @include display(desktop) {
    max-width: 500px;
    max-height: 750px;
  }
}
