$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

@mixin display($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}
