@import "../../styles/breakpoints.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 15px;
  width: 100vw;
  height: 60px;
  z-index: 100;
  background-color: var(--color-background-primary);
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  max-width: 1680px;

  @include display(desktop) {
    padding: 0 60px;
    height: 80px;
  }
}

.logo {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-self: center;

  @include display(desktop) {
    font-size: 26px;
  }
}

.socialBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socialSign {
  display: none;

  @include display(desktop) {
    font-family: var(--font-primary);
    cursor: default;
    display: flex;
  }
}

.socialSignIcon {
  height: 24px;
  margin-left: 8px;
}
