:root {
  --color-background-primary: #fdfdfd;
  --color-text-primary: #171717;
  --color-text-secondary: #999;
  --color-element-primary: #99999959;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  --font-primary: var(--font-open-sans);
  --font-secondary: var(--font-yellowtail);

  color: var(--color-text-primary);
  background: var(--color-background-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: static;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
